.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	margin-top: 2.5rem;
	@media (min-width: $md5) {
		margin-top: 3.75rem;
	}
	@media (min-width: $md3) {
		margin-top: 4.38rem;
	}
	// .pagination__item
	&__item {
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 0.625rem;
		font-size: 0.875rem;
		line-height: 150%;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0.625rem;
		@media (min-width: $md5) {
			width: 2.8125rem;
			height: 2.8125rem;
		}
		&.active {
			border-color: #9335ff;
			background-color: #9335ff;
			color: #fff;
		}

		&:is(a) {
			transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
			border: rem(1) solid #e7e8e9;
			@media (any-hover: hover) {
				&:hover {
					border-color: #9335ff;
					background-color: #9335ff;
					color: #fff;
				}
			}
		}
	}
	// .pagination__next
	&__next,
	&__prev {
		@extend .pagination__item;
		transition: color 0.3s ease 0s;

		&[aria-disabled="true"] {
			pointer-events: none;
			user-select: none;
			opacity: 0.3;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	&__prev {
	}
	&__next {
	}
}
