.blog {
	padding: 2.75rem 0 0;
	@media (min-width: $md5) {
		padding: 1.5rem 0 0;
	}
	@media (min-width: $md3) {
		padding: 4rem 0 0;
	}
	// .blog__container
	&__container {
	}
	// .blog__title
	&__title {
		margin-top: 3rem;
	}
	// .blog__subtitle
	&__subtitle {
		margin-top: rem(25);
		font-size: 1.125rem;
		line-height: 150%;
		max-width: 25rem;
	}
	// .blog__filters
	&__filters {
		margin-top: 3.13rem;
		display: flex;
		flex-wrap: wrap;
		gap: rem(9);
	}
	// .blog__filter
	&__filter {
		border-radius: 0.625rem;
		border: rem(1) solid #e7e8e9;
		padding: 0.75rem 1.5rem;
		font-size: 0.875rem;
		line-height: 150%;
		text-transform: uppercase;
		transition: background-color 0.3s ease, color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background: $accent;
				color: #fff;
			}
		}
	}
	// .blog__list
	&__list {
		margin-top: 1.56rem;
		display: grid;
		gap: 1.25rem;
		@media (min-width: $md3) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .blog__item
	&__item {
		&:nth-child(even) {
			.blog__card-header {
				flex-direction: row;
				@media (min-width: $md5) {
					flex-direction: row-reverse;
				}
			}
			.blog__card-column {
				align-items: flex-end;
				@media (min-width: $md5) {
					align-items: flex-start;
				}
			}
			.blog__card-name {
				text-align: right;
				margin-left: auto;
				margin-right: 0;
				@media (min-width: $md5) {
					margin-right: auto;
					margin-left: 0;
					text-align: left;
				}
			}
			.blog__card-image {
				&.blog__card-image--offset {
					margin-right: 0;
					margin-left: -2rem;
					@media (min-width: $md5) {
						margin-right: -2rem;
						margin-left: 0;
					}
				}
			}
		}
	}
	// .blog__card
	&__card {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		border-radius: 0.625rem;
		background: #f4f5f5;
		overflow: hidden;
		transition: transform 0.3s ease;
		padding: 1.56rem;
		@media (min-width: $md4) {
			padding: 1.87rem 2.19rem;
		}
		&--dark {
			background: #0f141e;
			color: #fff;
		}
		&--violet {
			background: #9335ff;
			color: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.015);
			}
		}
	}

	// .blog__card-header
	&__card-header {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		@media (min-width: $md5) {
			flex-direction: row;
		}
	}
	// .blog__card-image
	&__card-image {
		&.blog__card-image--offset {
			margin-top: -2rem;
			margin-bottom: -0.5rem;
			margin-right: -5rem;
			@media (min-width: $md5) {
				margin-left: -5rem;
			}
		}
	}
	// .blog__card-column
	&__card-column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;

		@media (min-width: $md5) {
			align-items: flex-end;
		}
	}
	// .blog__card-time
	&__card-time {
		writing-mode: vertical-rl;
		transform: rotate(-180deg);
		font-size: 0.6875rem;
		font-weight: 500;
		line-height: 125%;
	}
	// .blog__card-category
	&__card-category {
		margin-top: 2.81rem;
		font-size: 0.9375rem;
		font-weight: 500;
		line-height: 125%;
	}
	// .blog__card-name
	&__card-name {
		margin-top: 1.69rem;
		font-weight: 500;
		line-height: 125%;
		max-width: 22rem;
		letter-spacing: -0.0625rem;
		font-family: $font-involve;
		font-size: 1.125rem;
		@media (min-width: $md5) {
			text-align: right;
			margin-left: auto;
			font-size: 1.375rem;
		}
	}
}
