.header {
	// position: sticky;
	// top: 0;
	// z-index: 20;
	padding: 1.25rem 0;
	@media (min-width: $md3) {
		padding: 0.75rem 0;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(15, 20, 30, 0.4);
		backdrop-filter: blur(12.5px);
		-webkit-backdrop-filter: blur(12.5px);
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
	}
	&.open-menu {
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}
	// .header__container
	&__container {
		display: flex;
		align-items: flex-end;
		// @media (max-width: $md3) {
		// 	max-width: 100%;
		// }
		@media (min-width: $md4) {
			align-items: center;
		}
	}
	// .header__logo
	&__logo {
		// position: relative;
		// z-index: 1;
		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	inset: rem(-10);
		// 	background: #0f141e;
		// 	border-radius: 0.625rem;
		// 	z-index: -1;
		// }
		margin-right: auto;
		max-width: rem(108);
		@media (min-width: $md4) {
			max-width: rem(148);
		}
		@media (min-width: $md3) {
			transform: translateY(0.5rem);
			max-width: rem(160);
		}
	}
	// .header__menu
	&__menu {
		margin-left: auto;
	}
	// .header__actions
	&__actions {
		display: flex;
	}
	// .header__action
	&__action {
		border-radius: 0.625rem;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		color: #732ac7;
		width: rem(40);
		height: rem(40);
		// box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
		@media (min-width: $md5) {
			font-size: 1.25rem;
			width: rem(44);
			height: rem(44);
		}
		@media (min-width: $md3) {
			width: 3.125rem;
			height: 3.125rem;
		}
	}
	// .header__menu-toggler
	&__menu-toggler {
	}
}

.menu {
	@media (max-width: $md3) {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		background: #0f141e;
		z-index: 6;
		width: rem(320);
		padding: 2rem 2rem;
		overflow-y: auto;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		transform: translateX(100%);
		transition: transform 0.3s ease;
		.header.open-menu & {
			transform: none;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(17);
		// box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
		margin-top: rem(40);
		margin-bottom: rem(40);
		@media (min-width: $md3) {
			margin-top: 0;
			margin-bottom: 0;
			flex-direction: row;
			gap: 0;
		}
	}
	// .menu__item
	&__item {
		@media (min-width: $md3) {
			&:not(:last-child) {
				.menu__link {
					border-right: rem(1) solid rgba(15, 20, 30, 0.1);
				}
			}
			&:first-child {
				.menu__link {
					padding-left: rem(30);
					border-radius: 0.625rem 0 0 0.625rem;
				}
			}
			&:last-child {
				.menu__link {
					padding-right: rem(30);
					border-radius: 0 0.625rem 0.625rem 0;
				}
			}
		}
	}
	// .menu__link
	&__link {
		font-family: $font-involve;
		display: inline-flex;
		align-items: center;
		font-weight: 500;
		line-height: 110%;
		font-size: rem(18);
		@media (min-width: $md3) {
			font-size: 0.875rem;
			padding: 1rem 1.25rem;
			color: #0f141e;
			transition: background-color 0.3s ease, color 0.3s ease;
			min-height: 3.125rem;
			background: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #9335ff;
				color: #fff;
			}
		}
	}
	// .menu__logo
	&__logo {
		max-width: rem(108);
		@media (min-width: $md3) {
			display: none;
		}
	}

	// .menu__btns
	&__btns {
		margin-top: auto;
		display: flex;
		flex-direction: column;
		gap: rem(10);
		@media (min-width: $md3) {
			display: none;
		}
	}
	// .menu__btn
	&__btn {
	}
	// .menu__copy
	&__copy {
		margin-top: rem(40);
		font-size: rem(14);
		line-height: 150%;
		opacity: 0.5;
		@media (min-width: $md3) {
			display: none;
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	padding: 0;
	z-index: 11;
	border-radius: rem(10);
	color: #fff;
	background: #732ac7;
	margin-right: left;
	width: rem(40);
	height: rem(40);
	@media (min-width: $md5) {
		width: rem(44);
		height: rem(44);
	}
	@media (min-width: $md3) {
		display: none;
	}
	& span {
		display: block;
		padding: rem(1.5) rem(0);
		width: 100%;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: rem(2);
			border-radius: rem(2);
			width: rem(16);
			margin-left: auto;
			margin-right: auto;
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
	}
	.header.open-menu & {
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(5));

				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-5));

				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
