// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================

// &display=swap&subset=cyrillic-ext
@import "fonts";
@import "icons";

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "PTRootUI";
$font-involve: "Involve";

// Шрифт по умолчанию

$md1: 1439.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 743.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1160); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$text: #fff;
$dark: #0f141e;
$accent: #9335ff;

// Z-Index
$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

$header: var(--header-height, #{rem(124)});

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	background: #0f141e;
	color: $text;
	&.light-bg {
		background: #fff;
		color: #0f141e;
	}
	&.lock {
		overflow: hidden;
		@media (min-width: $md2) {
			overflow: visible;
		}
	}
	&.filter-lock {
		overflow: hidden;
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	@media (min-width: $md4) {
		overflow-x: clip;
	}
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

// Отзывчивая
[class*="__container"] {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 rem(30);
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(684);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: $maxWidthContainer;
	}
	&.container-lg {
		box-sizing: border-box;
		max-width: rem(2320);
		@media (min-width: $md1) {
			padding: 0 rem(120);
		}
	}
	&.container-sm {
		@media (min-width: $md3) {
			max-width: rem(760);
		}
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

//=================Подключаем файлы стилей
//================Общий файл для элементов страницы
// @import "grid";
@import "ui";
@import "forms";
//================Общий файл для элементов страницы
@import "header";
@import "footer";
//=======================================

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
}
// ========================================================

@import "./pages/home";
@import "./pages/article";
@import "./pages/blog";
@import "./pages/error";
@import "./pages/login";
@import "./pages/marketplace";
@import "./pages/service";
@import "./pages/quiz";

.list6b {
	padding: 0;
	list-style: none;
}
.list6b li {
	padding: 6px;
}
.list6b li:before {
	padding-right: 10px;
	font-weight: bold;
	color: #c0c0c0;
	content: "\2714";
	transition-duration: 0.5s;
}
.list6b li:hover:before {
	color: #732ac7;
	content: "\2714";
}

table {
	background: white;
	max-width: 100%;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	font-size: 0.875rem;
}
th {
	font-weight: normal;
	color: #039;
	border-bottom: 2px solid #732ac7;
	padding: 10px 8px;
	font-size: 0.875rem;
}
td {
	color: #0f141e;
	padding: 9px 8px;
	transition: 0.3s linear;
}
tr:hover td {
	color: #732ac7;
}

table.delivery {
	width: 100%;
	border: 0px;
	border-collapse: collapse;
}
table.delivery thead {
	font-weight: bold;
}
table.delivery td {
	padding: 0.6rem 1rem;
	border-bottom: 1px solid #732ac7;
}

@media screen and (max-width: 800px) {
	table.delivery thead {
		display: none;
	}
	table.delivery tr {
		display: block;
		margin-bottom: 1rem;
		border-bottom: 2px solid #732ac7;
	}
	table.delivery td {
		display: block;
		text-align: right;
		color: #0f141e;
	}
	table.delivery td:before {
		content: attr(aria-label);
		float: left;
		font-weight: bold;
	}
}

.blockquote-4 {
	position: relative;
	margin: 16px 16px 46px 16px;
	border: 2px solid #732ac7;
	border-radius: 20px;
	padding: 25px;
}
.blockquote-4::after {
	content: "";
	position: absolute;
	border: 2px solid #732ac7;
	border-radius: 0 50px 0 0;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 50px;
	border-bottom: none;
	border-left: none;
	z-index: 2;
	box-sizing: border-box;
}
.blockquote-4::before {
	content: "";
	position: absolute;
	width: 80px;
	border: 6px solid #fff;
	bottom: -3px;
	left: 50px;
	z-index: 1;
}
.blockquote-4 cite {
	position: absolute;
	bottom: -30px;
	left: 110px;
	font-weight: bold;
	color: #0f141e;
}
